.container3DLogin {
	display: flex;
	height: 100vh;
}

.spline-watermark {
	display: none;
}

.container3D {
	flex: 2;
}

.container3D > #container {
	display: flex;
	justify-content: center;
}

.containerLogin {
	flex: 3;
}
.canvas3d {
	padding-left: 4em;
}

.container3DLogin img {
	height: 100%;
}

@media only screen and (max-width: 1100px) {
	.spline--image {
		display: none;
	}
}
