.containerLogin {
	width: 50%;
	min-height: 50vh;
	margin: 20vh auto;
	border: 2px solid blueviolet;
	text-align: center;
}

.containerLogin h1 {
	margin: 1em 0;
}

.loginForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loginForm__email,
.loginForm__password {
	width: 50%;
	margin: 2em;
	height: 3em;
}

.errorMessage {
	color: red;
	font-size: 2em;
	margin: 0.5em;
}
